<div class="container__form">
  <h2 class="form__title">Signup</h2>

  <form action="/auth/signup" method="POST" id="form-container">
    <div class="form__group">
      <label for="username">Username</label>
      <input class="form__input" id="username" type="text" name="username" placeholder="John Doe">
    </div>
    <div class="form__group">
      <label for="password">Password</label>
      <input class="form__input" id="password" type="password" name="password" placeholder="Password">
    </div>
    <div class="err-msg">
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
    </div>
    <div class="form__footer">
      <button class="btn form__btn">Create account</button>

      <p class="account-msg">
        Already have an account?
        <a href="/auth/login">Login</a>
      </p>
    </div>
  </form>
</div>