<div class="container center">
  {{!-- {{title}} --}}
  <div class="index-txt">
    <h1>FREE BERLIN</h1>
    <h6 class="">The cheap way to live a rich life.</h6>
    <p class="mx-auto txt-index"> The platform for cheapskates, poor instant ramen eating students, alimony payers, that guy who always drinks too much at the bar, anti-materialists and curious people.  
    </p>
    <div class="index-txt-footer">
      <p>FOR EVERYONE. FOR FREE.</p>
    </div>
    <p>Because sharing is caring.</p>
    <button class="btn btn-warning btn-block index-btn">
      <a href="/free-list">CHECK OUT FREE STUFF</a>
    </button>
  </div>
</div>