<h1>Welcome to Alina/Sam's page</h1>
{{!-- {{title}} --}}



<button>
  <a href="/auth/signup">SIGN UP</a>
</button>
<button>
  <a href="/auth/login">LOG IN</a>
</button>



<h2>TEXT DESCRIBING THE WEBSITE</h2>