<div class="container container-shadow center">
  {{!-- {{title}} --}}
  <div class="index-txt">
    <h1>FREE BERLIN</h1>
    <p class="mx-auto txt-index">The cheap way to live a rich life. The platform for cheapskates, poor instant ramen eating students, alimony payers,
      that guy who always drinks too much at the bar, anti-materialists and curious people. FOR EVERYONE. FOR FREE. Because
      sharing is caring.
    </p>

    <button class="btn btn-warning btn-block index-btn">
      <a href="/free-list">CHECK OUT FREE STUFF</a>
    </button>
  </div>
</div>