<div class="container__index">
  <div class="index__title">
    <h1>FREE BERLIN</h1>
    <h3 class="">The cheap way to live a rich life.</h3>
  </div>
  <p class="index__text"> The platform for cheapskates, poor instant ramen eating students, alimony payers, that guy who always drinks too much at the bar, anti-materialists and curious people.  
  </p>
  <div class="index__subtitle">
    <h3>For everyone. for free.</h3>
    <h4>Because sharing is caring</h4>
  </div>
  <button class="btn btn-free-list">
    <a href="/free-list">Check out free stuff</a>
  </button>
</div>