<div class="container container-shadow center"> 
    {{!-- {{title}} --}}
    <div class="index-txt">
      <h1>FREE BERLIN</h1>
      <p class="mx-auto txt-index">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloremque nihil maiores eos minima eligendi, similique perferendis cum quis? Vitae quod repudiandae non reprehenderit quibusdam atque voluptatum, earum maiores laboriosam odit facilis voluptate animi omnis officiis temporibus deserunt reiciendis ad?</p>
    
      <button  class="btn btn-warning btn-block index-btn">
        <a href="/auth/signup">SIGN UP</a>
      </button>

      <button  class="btn btn-warning btn-block index-btn">
        <a href="/auth/login">LOG IN</a>
      </button>
     
    </div>
</div>