<div class="container container-shadow main-bg">
  <h1>What do you wanna do?</h1>
  <div class="row1">
    <div class=" main-btn-bg">
      <a class="main-btn" href="/free-list">Discover free resources</a>
    </div>
    <div class="main-btn-bg">
      <a class="main-btn" href="/add">Share your own</a>
    </div>
  </div>
</div>