.container__edit-profile {
  width: 60%;
  margin: 0 auto;
}

.edit-profile {
  padding: 3rem 1.5rem;
  text-align: center;

  h2 {
    font-family: var(--font-logo);
    margin-bottom: 2.5rem;
  }

  form {
    display: flex;
    flex-direction: column;

    .form__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    label {
      align-self: flex-start;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      font-weight: 700;
    }

    input {
      margin-bottom: 1rem;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      color: var(--text-color-secondary);
    }
  }

  button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--primary-color-dark);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
    }
  }
}

@media only screen and (max-width: 700px) {
  .container__edit-profile {
    width: 90%;
  }
}
