@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

@import 'index';
@import 'navbar';
@import 'login-signup';
@import 'free-list';
@import 'detail';
@import 'main';
@import 'profile';
@import 'edit-profile';
@import 'resources';
@import 'error';

:root {
  --font-main: 'Roboto', sans-serif;
  --font-logo: 'Bangers', cursive;
  --primary-color: #ffb41d;
  --primary-color-dark: #a87000;
  --text-color: #333;
  --text-color-secondary: rgb(90, 90, 90);
  --text-color-light: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
.btn {
  text-decoration: none;
  color: var(--text-color-light);
}

//////////////////////
//      MAIN
.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
