@import url("https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap");
.container__index {
  min-height: calc(100vh - 75px);
  width: 50%;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.index__title {
  text-align: center;
  margin-bottom: 3rem; }
  .index__title h1 {
    font-size: 6rem;
    font-family: 'Bangers', cursive; }
  .index__title h3 {
    color: var(--text-color-secondary); }

.index__text {
  text-align: center;
  margin-bottom: 3rem; }

.index__subtitle {
  text-align: center;
  margin-bottom: 2rem; }
  .index__subtitle h3 {
    margin-bottom: 0.5rem;
    text-transform: uppercase; }

.btn-free-list {
  padding: 0.75rem 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color-dark);
  transition: all 0.2s ease-in-out; }
  .btn-free-list a {
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out; }
  .btn-free-list a:hover {
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--text-color-light); }
  .btn-free-list:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 700px) {
  .container__index {
    width: 90%; } }

.navbar {
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
  z-index: 10; }

.navbar__links {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem; }

.btn-home {
  font-size: 2.4rem;
  font-family: var(--font-logo);
  margin-left: 2rem; }

.links__container {
  display: flex;
  list-style: none; }
  .links__container li {
    padding: 0.75rem; }
    .links__container li a {
      font-weight: 700;
      letter-spacing: 1px;
      transition: color 0.4s ease; }
    .links__container li a:hover {
      color: var(--primary-color-dark); }

.navbar__mobile {
  display: none; }
  .navbar__mobile .navbar__mobile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem; }
    .navbar__mobile .navbar__mobile-links a {
      color: var(--text-color-light);
      font-size: 2.4rem;
      font-family: var(--font-logo);
      letter-spacing: 1px; }
    .navbar__mobile .navbar__mobile-links .mobile__menu button {
      padding: 0.5rem;
      border: none;
      font-size: 1rem;
      font-weight: 700;
      color: var(--text-color-light);
      background: none; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow: hidden;
  transition: all 0.5s ease 0s; }

.overlay__content {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.overlay a {
  padding: 15px;
  font-size: 2rem;
  display: block;
  transition: all 0.3s ease 0s; }

.overlay a:hover,
.overlay a:focus {
  color: #0088a9; }

.overlay .close__nav {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 2rem; }

@media only screen and (max-width: 700px) {
  .navbar__links {
    display: none; }
  .navbar__mobile {
    display: inherit; } }

.container__form {
  min-height: calc(100vh - 75px);
  width: 50%;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  width: 100%; }

.form__title {
  font-size: 2.5rem;
  font-family: var(--font-logo);
  margin-bottom: 2rem; }

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem; }
  .form__group label {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700; }
  .form__group input {
    padding: 0.75rem; }

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.form__btn {
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color-dark);
  transition: all 0.2s ease-in-out; }
  .form__btn:hover {
    color: var(--primary-color);
    background-color: var(--text-color-light);
    border: 2px solid var(--primary-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.account-msg {
  font-size: 0.9rem;
  color: var(--text-color); }
  .account-msg a {
    margin-left: 8px;
    font-weight: 600;
    color: var(--text-color);
    transition: color 0.2s ease; }
  .account-msg a:hover {
    color: #fda403; }

.err-msg {
  height: 30px;
  margin: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: red; }

@media only screen and (max-width: 950px) {
  .container__form {
    width: 80%; } }

@media only screen and (max-width: 600px) {
  .form__footer {
    flex-direction: column; }
    .form__footer p {
      margin-top: 2rem; } }

@media only screen and (max-width: 400px) {
  .container__form {
    width: 90%;
    padding: 3rem 0.25rem; } }

.container__list {
  width: 100%;
  padding: 3rem 4rem; }

.list__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray; }
  .list__nav h1 {
    font-family: 'Bangers', coursive;
    color: var(--text-color); }

.form__container {
  width: 50%; }

.form__menu {
  display: flex; }
  .form__menu select {
    width: 20%; }
  .form__menu button {
    width: 40%;
    padding: 0.75rem 1.5rem;
    margin-left: 1rem;
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--primary-color-dark);
    transition: all 0.2s ease-in-out; }
    .form__menu button:hover {
      border: 2px solid var(--primary-color);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem; }

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }
  .card img {
    margin-bottom: 2rem; }
  .card h3 {
    font-family: 'Bangers', coursive;
    color: var(--text-color-secondary);
    padding-bottom: 0.75rem;
    border-bottom: 1px solid lightgray; }
  .card h5 {
    padding: 1rem 0;
    margin-bottom: 18px; }
  .card p {
    font-size: 0.8rem; }

.btn-details {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 2.5rem; }
  .btn-details a {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color); }
  .btn-details a:hover {
    color: var(--primary-color-dark); }

@media only screen and (max-width: 1000px) {
  .form__container {
    width: 75%; } }

@media only screen and (max-width: 700px) {
  .list__nav {
    flex-direction: column;
    margin-top: 2rem; }
    .list__nav h1 {
      margin-bottom: 1.5rem; }
    .list__nav .form__container {
      width: 80%; }
      .list__nav .form__container .form__menu {
        flex-direction: column;
        align-items: center; }
        .list__nav .form__container .form__menu select,
        .list__nav .form__container .form__menu button {
          width: 100%;
          margin: 0;
          margin-bottom: 0.75rem; }
  .card {
    width: 80%;
    justify-self: center; } }

@media only screen and (max-width: 500px) {
  .container__list {
    padding: 2rem 1.5rem; }
    .container__list .list__nav {
      padding: 0; }
      .container__list .list__nav .form__container {
        width: 100%; }
  .card {
    width: 100%; } }

.container__detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 2.5rem; }

.detail__body {
  width: 60%;
  padding-right: 3rem; }

.detail__category {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem; }
  .detail__category h3 {
    margin-left: 2rem;
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: var(--text-color-secondary); }

.detail__description h3 {
  margin-bottom: 1.2rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid lightgray; }

.detail__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 1.75rem;
  border-bottom: 1px solid lightgray; }
  .detail__info p {
    margin-bottom: 0.5rem; }
  .detail__info img {
    height: 1.5rem; }

.comments {
  margin-top: 3rem; }
  .comments h4 {
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Bangers', coursive;
    color: var(--text-color-secondary); }
  .comments h5 {
    margin-bottom: 0.5rem; }
  .comments .comment__author {
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid lightgray; }

.comment-form__container {
  width: 40%;
  padding: 5.5rem 0;
  text-align: center; }
  .comment-form__container form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .comment-form__container form textarea {
      padding: 0.5rem;
      resize: vertical;
      width: 90%;
      font-family: var(--font-main);
      margin-bottom: 0.75rem; }
    .comment-form__container form button {
      padding: 0.5rem 0.75rem;
      border: none;
      cursor: pointer;
      background-color: var(--primary-color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
    .comment-form__container form a {
      color: var(--primary-color);
      font-weight: 600; }

.submit-error {
  color: red;
  height: 1.3rem;
  margin-top: 1rem;
  text-align: center; }

@media only screen and (max-width: 700px) {
  .container__detail {
    margin: 2rem 0;
    flex-direction: column;
    align-items: center; }
    .container__detail .detail__body {
      width: 80%;
      padding: 0; }
    .container__detail .comment-form__container {
      width: 80%;
      padding: 2.5rem 0; } }

@media only screen and (max-width: 500px) {
  .container__detail {
    padding: 0; } }

.container__main {
  width: 60%;
  margin: 0 auto;
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .container__main h1 {
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Bangers', cursive; }
  .container__main a {
    font-size: 2rem;
    padding: 1.25rem 2.5rem;
    margin: 1rem 0;
    font-family: 'Bangers', cursive;
    text-align: center;
    background-color: var(--primary-color);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out; }
  .container__main a:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 700px) {
  .container__main {
    text-align: center; } }

@media only screen and (max-width: 400px) {
  .container__main {
    padding: 2rem 0; } }

.container__profile {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.user__profile {
  display: flex;
  padding: 6rem 1.5rem 1.5rem;
  align-items: flex-end;
  border-bottom: 1px solid lightgray; }
  .user__profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px; }
  .user__profile .user__info {
    margin-left: 3rem; }
    .user__profile .user__info h2 {
      font-family: var(--font-logo);
      margin-bottom: 1rem; }
    .user__profile .user__info p {
      margin-bottom: 0.3rem; }
    .user__profile .user__info :nth-child(4) {
      margin-bottom: 2rem; }
    .user__profile .user__info a {
      padding: 0.5rem 0.75rem;
      background-color: var(--primary-color);
      transition: all 0.5s ease-in-out; }
    .user__profile .user__info a:hover {
      font-weight: 700;
      color: var(--text-color);
      background-color: var(--text-color-light); }

.user__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1.5rem; }
  .user__content h4 {
    text-align: center;
    padding: 0.25rem;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    margin-bottom: 0.75rem; }
  .user__content ul {
    list-style: none; }
    .user__content ul li {
      padding-left: 0.75rem;
      margin-bottom: 0.3rem; }
  .user__content .user__content-contribution {
    width: 50%;
    padding: 0.75rem 1.5rem; }
  .user__content .user__content-favorites {
    width: 50%;
    padding: 0.75rem 1.5rem; }
  .user__content .btns__container {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid lightgray; }
    .user__content .btns__container button {
      box-shadow: none; }
    .user__content .btns__container a,
    .user__content .btns__container button {
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      border: none;
      width: 50%;
      text-align: center;
      font-size: 1rem;
      background-color: var(--primary-color);
      transition: all 0.3s ease-in-out; }
    .user__content .btns__container .btn-danger {
      background-color: orangered; }
    .user__content .btns__container a:hover,
    .user__content .btns__container button:hover {
      font-weight: 700;
      color: var(--text-color);
      background-color: var(--text-color-light); }

@media only screen and (max-width: 700px) {
  .container__profile {
    width: 90%; }
  .user__profile {
    padding: 3rem 1rem 1rem; } }

@media only screen and (max-width: 500px) {
  .user__profile {
    flex-direction: column;
    align-items: center; }
    .user__profile .user__info {
      margin-top: 1.5rem;
      margin-left: 0;
      text-align: center; }
  .user__content {
    padding: 3rem 0;
    flex-direction: column; }
    .user__content .user__content-contribution,
    .user__content .user__content-favorites {
      width: 100%; }
      .user__content .user__content-contribution h4,
      .user__content .user__content-favorites h4 {
        margin-bottom: 3rem; } }

.container__edit-profile {
  width: 60%;
  margin: 0 auto; }

.edit-profile {
  padding: 3rem 1.5rem;
  text-align: center; }
  .edit-profile h2 {
    font-family: var(--font-logo);
    margin-bottom: 2.5rem; }
  .edit-profile form {
    display: flex;
    flex-direction: column; }
    .edit-profile form .form__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem; }
    .edit-profile form label {
      align-self: flex-start;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      font-weight: 700; }
    .edit-profile form input {
      margin-bottom: 1rem;
      padding: 0.25rem 0.5rem;
      font-size: 1rem;
      color: var(--text-color-secondary); }
  .edit-profile button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out; }
    .edit-profile button:hover {
      color: var(--primary-color-dark);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9); }

@media only screen and (max-width: 700px) {
  .container__edit-profile {
    width: 90%; } }

.container__resouce {
  width: 60%;
  padding: 3rem 1.5rem;
  margin: 0 auto; }
  .container__resouce h2 {
    text-align: center;
    font-family: var(--font-logo);
    margin-bottom: 2rem; }

form {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main); }
  form select {
    width: 30%;
    padding: 0.25rem 0.75rem; }
    form select option {
      height: 2rem; }
  form .form__group {
    margin-top: 1.2rem; }
    form .form__group input {
      margin-bottom: 1rem; }
    form .form__group textarea {
      margin-bottom: 1rem;
      resize: vertical;
      width: 100%;
      font-family: var(--font-main);
      padding: 0.25rem 0.75rem; }
  form button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out; }
    form button:hover {
      color: var(--primary-color-dark);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9); }

.error-msg {
  text-align: center;
  margin-top: 0.75rem; }

@media only screen and (max-width: 700px) {
  .container__resouce {
    width: 90%; } }

.container__error {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .container__error h1,
  .container__error h2 {
    margin: 3rem 0; }

:root {
  --font-main: 'Roboto', sans-serif;
  --font-logo: 'Bangers', cursive;
  --primary-color: #ffb41d;
  --primary-color-dark: #a87000;
  --text-color: #333;
  --text-color-secondary: rgb(90, 90, 90);
  --text-color-light: #fff; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  font-family: var(--font-main);
  color: var(--text-color); }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

a,
.btn {
  text-decoration: none;
  color: var(--text-color-light); }

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */